<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>

  <div class="field">
    <%= select_tag "item[area]", "<option>东区</option><option>西区</option>".html_safe  %>
  </div>

  <div class="field">
    <%= select_tag "item[class]", "<option>套餐</option><option>面</option><option>汤</option>".html_safe  %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
